* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.left {
    flex: 2;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;

}

.right {
    flex: 3;
}